#{extends '_layout/body.html' /}

<div class="row">
    <div class="col-md-12">        
    <h2>&{'welcome', connectedUser }</h2>
    <br/>
    <img src="@{'/public/assets/img/icon-bus-2.png'}"/>&{'OnibusBO'}
    <img src="@{'/public/assets/img/marker-1.png'}"/>&{'your.position'}
  	<div class="form-group text-left">
	     <div class="styled-select">
	         <select id="object_linha" value="">
	             <option value="">&{'select.value.linha'}</option>     
	             #{list items:models.LinhaBO.findAll(), as:'linha'}                                                                                             
	                 <option name="${linha.dsNome}" value="${linha.id}">&{linha.dsLinha} - &{linha.dsNome}</option>
	             #{/list}  
	       </select>              
	     </div>
	 </div>
      <div id="div_parada" class="form-group text-left">
         <div class="styled-select">
               <select id="object_parada" value="">
                 <option value="">&{'select.value.parada'}</option>     
                 #{list items:models.ParadaBO.findAll(), as:'parada'}                                                                                             
                     <option name="${parada.dsNome}" value="${parada.id}">&{parada.dsNumero} - &{parada.dsNome}</option>
                 #{/list}  
           </select>              
         </div>
     </div>
    <div class="col-sm-12">
    </div>
    <div id="mapa" class="col-md-12"></div>
   <!-- End col-md-12-->
</div>
<!-- End row-->
#{set 'moreScripts'}
<script type="text/javascript">
    var map;
    var markers = [];
    var yourMarker = [] ;
    var x = document.getElementById("mapa");
    var iconBus = "@{'/public/assets/img/icon-bus-2.png'}";
    var iconPosition = "@{'/public/assets/img/marker-1.png'}" ;
    function addMarker(location , ArraryMarker, icon) {
        var marker = new google.maps.Marker({
            position: location,
            map: map,
            icon: icon,
        });
    	ArraryMarker.push(marker);
    }
	function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
			markers[i].setMap(map);
        }
	}
    function clearMarkers() {
    	setMapOnAll(null);
    }
    function showMarkers() {
    	setMapOnAll(map);
    }
    function deleteMarkers() {
        clearMarkers();
        markers = [];
    }
    function showPosition(position)
    {
        lat=position.coords.latitude;
        lon=position.coords.longitude;
        latlon=new google.maps.LatLng(lat, lon)
        mapholder=document.getElementById('mapa')
        mapholder.style.height='550px';
        mapholder.style.width='100%';
        var myOptions =
        {
            center:latlon,
            zoom:14,
            mapTypeId:google.maps.MapTypeId.ROADMAP,
            mapTypeControl:false,
            navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL}
        };
        map = new google.maps.Map(document.getElementById("mapa"),myOptions);
        addMarker(latlon, yourMarker, iconPosition);
    }
 
    function showError(error)
    {
        switch(error.code)
        {
            case error.PERMISSION_DENIED:
              x.innerHTML="Usuário rejeitou a solicitação de Geolocalização."
              break;
            case error.POSITION_UNAVAILABLE:
              x.innerHTML="Localização indisponível."
              break;
            case error.TIMEOUT:
              x.innerHTML="O tempo da requisição expirou."
              break;
            case error.UNKNOWN_ERROR:
              x.innerHTML="Algum erro desconhecido aconteceu."
              break;
        }
    }
    $(function(){
        $(window).load(function(){
            navigator.geolocation.getCurrentPosition(showPosition,showError);
            $("#object_linha").on('change',function(){
                var idLinha = $('#object_linha').val();
                 $.ajax({
                     type: 'POST',
                     dataType: 'json',
                     url: '@{admin.HomeAdminController.getLoadParada}',
                     data: { "idLinha": idLinha},
                     beforeSende: deleteMarkers(),
                     success: function(data) {
                        $.map(data, function (el) {
                            return {
                                value: el.id,
                                position: addPosition(el.lastLocation)
                            };
                        })
                     }
                });
        	});
        });
    });
    function addPosition(latLong){
        if(latLong != null && latLong.length > 0){
            var posicao = latLong.split(",");
            var latLng = {lat: Number(posicao[0]), lng: Number(posicao[1])};
            addMarker(latLng, markers, iconBus);
        }
    }
</script>
#{/set}