#{extends '_layout/body.html' /}
 
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      </button>
      <h4 class="modal-title" id="myModalLabel">Esqueceu a senha</h4>
   </div>
   <div class="modal-body">
      <form>
         <div class="form-group">
            <input type="text" class=" form-control " placeholder="Email">
            <span class="input-icon"><i class="icon-email"></i></span>
         </div>
         <a href="#" class="button_medium">Enviar</a>
      </form>
   </div>
   <div class="modal-footer">
      <button type="button" class="button_medium_outline" data-dismiss="modal">
      Fechar</button>
   </div>
