#{extends 'CRUD/layout.html' /}
#{set allowInsert:"${!blockInsert}" /}
#{set allowUpdate:"${!blockUpdate}" /}
#{set allowDelete:"${!blockDelete}" /}

<h2>&{'crud.list.title', type.name}</h2>
<div class="step">
    <div>
        #{crud.searchReports 
            allowRespondentFilter: false,
            useViewExcelButton: true /}
    </div>
</div>
#{set 'moreScripts'}
    <script type="text/javascript">
        $(function() {
            #{if flash.warning}
                $.Notification.autoHideNotify(
                        '.step'
                        ,'warning'
                        , 'top center'
                        , '&{"title.warning"}'
                        , '${flash.warning}'
                );
            #{/if}
        });
    </script>
#{/set}
