<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${play.i18n.Messages.getMessage(locale, 'system.title')}</title>
<style>
body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:20px;
    margin:0;
    background-color:#fff;
    color:#2d4050;
    -webkit-font-smoothing: antialiased !important;
}
header {
    background-color:#1c1c1c;
    border-bottom: 1px solid #272727;
    padding:15px 0;
}
@media only screen and (max-width: 600px) {
    table[class=content_wrap] {
        width: 94% !important;
    }
    table[class=full_width] {
        width: 100% !important;
    }
    table[class=hide], img[class=hide], td[class=hide] {
        display: none !important;
    }
    td[class=text-center] {
        text-align: center !important;
    }
}
</style>
</head>
<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0"
    marginwidth="0"
    style="-webkit-font-smoothing: antialiased; width: 100% !important; background-image: none; background-repeat: repeat; background-position: left top; background-attachment: scroll; -webkit-text-size-adjust: none;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0"
        bgcolor="#ffffff"
        style="">
        <tr>
            <td bgcolor="#ffffff" width="100%">
                <!--Content wrapper-->
                <table width="600" cellpadding="0" cellspacing="0"
                    border="0" align="center" class="content_wrap">
                    <tr>
                        <td width="100%" height="20" bgcolor="#ffffff"></td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <!--Logo-->
                                    <td bgcolor="" width="100%" class="text-center">
                                        <a href="#">#{embeddedImage src:'public/matemart/img/logo.png', name:'mailGattazLogo' /}   
                                            <div class="vertical-line" style="height: 2px;background-color:#99cc66;" />
                                        </a>
                                   </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" height="10" bgcolor="#ffffff"></td>
                    </tr>
                    <tr>
                        <td width="100%">
                            <!--Content 1-->
                            <table width="100%" cellpadding="0"
                                cellspacing="0" border="0"
                                align="center" style="background: #fff;">
                                <tr>
                                    <td width="4"></td>
                                    <td bgcolor="#fff" width="100%"
                                        valign="top">
                                        <table width="100%"
                                            cellpadding="15"
                                            cellspacing="0" border="0"
                                            bgcolor="#fff">
                                            <tr>
                                                <td bgcolor="#fff"
                                                    style="background: #fff; padding: 0;">
                                                    <table
                                                        width="100%"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        border="0"
                                                        class="full_width">
                                                        <tr>
                                                            <td>
                                                                <p style="color: #008000;text-align: center;font-weight: bold;"> 
                                                                    ${play.i18n.Messages.getMessage(locale, 'system.description.email')}
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="100%" >
                                                                <span>
                                                                    #{verbatim}
                                                                        #{if hasTreatment}
                                                                            ${play.i18n.Messages.getMessage(locale, 'mail.body.invitation.respondent.treatment', (gender == 'F' ? 'a' : 'o'), name, companyName, invitationUrl, invitationUrl)}
                                                                        #{/if}
                                                                        #{else}
                                                                            ${play.i18n.Messages.getMessage(locale, 'mail.body.invitation.respondent', (gender == 'F' ? 'a' : 'o'), name, companyName, invitationUrl, invitationUrl)}
                                                                        #{/else}                                                                              
                                                                        ${play.i18n.Messages.getMessage(locale, 'pages.survey.term.sincerely')}
                                                                        <div>
                                                                            #{embeddedImage src:'public/matemart/img/assinatura.jpg', name:'mailGattazSignature' /}
                                                                        </div>
                                                                        ${play.i18n.Messages.getMessage(locale, 'pages.survey.term.signature')}
                                                                    #{/verbatim}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="4"></td>
                                </tr>
                            </table> <!--end Content 1-->
                        </td>
                    </tr>
                </table> <!--end Content wrapper-->
            </td>
        </tr>
    </table>
</body>
</html>