#{extends '_layout/body.html' /}

<div id="page-content">
	<div class="container">
         <header><h1>&{'login.sign'}</h1></header>      
         #{form @security.SecureController.authenticate(), id:'loginForm'}  
             #{field 'username'}
                 <div class="form-group ">
                     <input type="text" class=" form-control " id="${field.id}" name=${field.name} placeholder="&{'secure.username'}">
                     <span class="input-icon"><i class=" icon-user"></i></span>
                 </div>
             #{/field}   
             #{field 'password'}
                 <div class="form-group " style="margin-bottom:5px;">
                     <input type="password" class=" form-control" id="${field.id}" name=${field.name} placeholder="&{'secure.passwd'}" style="margin-bottom:5px;">
                     <span class="input-icon"><i class="icon-lock"></i></span>
                 </div>
             #{/field}
             #{if flash.error}
                 <div class="has-error">  
                     <span id="helpBlock2" class="help-block">&{flash.error}</span>
                 </div>
             #{/if}
             <p class="small">
                 <a href="#" >&{'secure.forgot.passwd'}</a>
             </p>
             <input type="submit" class="btn pull-right btn-default" id="signin" value="&{'secure.signin'}" />
         #{/form}
	</div>
</div>

#{set 'moreScripts_layout'}
    <script type="text/javascript">
        // Login layout
        $(function() {
            #{if flash.get(common.constants.MessageConstants.MESSAGE_SUCCESS_OPERATION)}
                $.Notification.autoHideNotify(
                        '#loginForm'
                        , 'success'
                        , 'top center'
                        , '&{"title.success"}'
                        , '${flash.get(common.constants.MessageConstants.MESSAGE_SUCCESS_OPERATION)}'
                );
            #{/if} 
        });
    </script>
#{/set}