#{extends 'CRUD/layout.html' /}

#{doLayout /}

#{set 'moreScripts'}
    <script type="text/javascript">
        var withReportLabel = "&{'withReport'}";
        var withoutReportLabel = "&{'withoutReport'}";
        var validationRequired = "&{'validation.required'}";
        
        function showNotify(message) {
            $.Notification.autoHideNotify(
                    '#middle-wizard'
                    ,'warning'
                    , 'top center'
                    , '&{"title.warning"}'
                    , message
            );
        }
        $(function() {
            $('#object_registryDate').prop('readonly', 'readonly');
            $('#object_registryDate_icon_date').css('background-color', '#cacacb');
            
            $(".icheckbox_table_list").each(function(){
                it = $(this);
                if (it.prop('checked') && it.val() == '${models.SurveyTypeBO.SurveyType.BURNOUT.ordinal()}') {
                    radioReport= "${object.showReport}";                
                    addRadionReport();
                    if (radioReport == "true") {
                        $('#object_report_true').prop('checked', true);
                    } else if(radioReport == "false") {
                        $('#object_report_false').prop('checked', true);
                    } else {
                        if (it.parent().parent().parent().find('span').length > 3) {
                            return false;
                        }
                        it.parent().parent().parent().addClass('has-error');
                        it.parent().parent().parent().append('<span id="helpBlock2" class="help-block">' + validationRequired + '</span>');
                        $('#label_report_false').css('color', '#a94442' );
                        $('#label_report_true').css('color', '#a94442' );
                    }
                    return false;
                }
            });
            $(".icheckbox_table_list").on('change', function() {
                it = $(this);
                if (it.prop('checked') && it.val() == '${models.SurveyTypeBO.SurveyType.BURNOUT.ordinal()}') {
                    $(".icheckbox_table_list").each(function(index) {
                        item = $(this);
                        if (item.prop('checked') && item.val() != '${models.SurveyTypeBO.SurveyType.BURNOUT.ordinal()}') {
                            item.attr('checked', false);
                            $('#report_radio').show();  
                        } else{
                            $('#report_radio').hide();  
                        }
                        window.scrollTo(0, 0);
                        showNotify('&{"message.warning.program.burnout.survey"}');
                    });
                    addRadionReport();
                } else {
                    var hasBurnout = false;
                    $('input[name="object.lstSurveys.id"]:checked').each(function(index) {
                        item = $(this);
                        if (item.val() == '${models.SurveyTypeBO.SurveyType.BURNOUT.ordinal()}') {
                            hasBurnout = true;
                            return false;
                        }
                    });
                    if (!hasBurnout) {
                        $('#q5_radios').remove();
                    }
                }
/*                 
    Deixar comentado, grandes changes de ser utilizado(esperando análise do cliente).
  
                if (it.prop('checked') && it.val() == '${models.SurveyTypeBO.SurveyType.DEPRESSION_ANXIETY.ordinal()}') {
                    $(".icheckbox_table_list").each(function(index) {
                        item = $(this);
                        if (item.prop('checked') && (item.val() == '${models.SurveyTypeBO.SurveyType.DEPRESSION.ordinal()}' || item.val() == '${models.SurveyTypeBO.SurveyType.ANXIETY.ordinal()}')) {
                            item.attr('checked', false);
                        }
                        showNotify('&{"message.warning.program.hospitalar.survey"}')
                    });
                } 
*/
            });
        });
        function addRadionReport(){
            it.parent().find('br').remove();
            it.parent().append('<span id="q5_radios">');
            it.parent().append('</span>');
            $('#q5_radios').append('&nbsp; &nbsp;<input id="object_report_true" type="radio" name="object.showReport" value="true"/>').append('&nbsp;<span id="label_report_true">' + withReportLabel + '</span>');
            $('#q5_radios').append('&nbsp; &nbsp;<input id="object_report_false" type="radio" name="object.showReport" value="false">').append('&nbsp; <span id="label_report_false">'+withoutReportLabel + '</span>');
        }
    </script>
#{/set}