#{extends '_layout/body.html' /}
<!-- Wrapper -->
    <div class="wrapper">
	    <div class="navigation">
	        <div class="container">
	            <header class="navbar" id="top" role="banner">
	                <div class="navbar-header">
	                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	                        <span class="sr-only">Toggle navigation</span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </button>
	                    <div class="navbar-brand nav" id="brand">
	                        <a href="index-google-map-fullscreen.html">Satup</a>
	                    </div>
	                </div>
	                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	                    <ul class="nav navbar-nav">
	                        <li><a href="#">Pagina Inicial</a></li>
	                        <li><a href="#">Login</a></li>
	                        <li><a href="#">Contato</a></li>
	                    </ul>
	                </nav><!-- /.navbar collapse-->
	            </header><!-- /.navbar -->
	        </div><!-- /.container -->
	    </div><!-- /.navigation -->
    </div>
    <div class="container">
        <div class="geo-location-wrapper">
            <span class="btn geo-location"><i class="fa fa-map-marker"></i><span class="text">Find My Position</span></span>
        </div>
    </div>

    <!-- Map -->
    <div id="map"></div>
    <!-- end Map -->
    </div>
</div>