#{extends '_layout/body-guest.html' /}


<div class="row">
 <div class="col-md-12">
  
    <!-- Headings & Paragraph Copy -->
    &{'pages.survey.term.content', (gender == 'F' ? 'a' : 'o'), respondentName}
    <div class="row">
       <div class="col-md-12 add_bottom_30">
            #{form action:@acceptTerm(id, linkCode)}
            <button class="button_outline" onclick="javascript: blockForQuestion();">&{'pages.survey.term.start'}</button>  
            #{/form}
       </div>
    </div>
    
    &{'pages.survey.term.sincerely'}
    <div><img alt="" src="@{'/public/matemart/img/assinatura.jpg'}"></div>
    &{'pages.survey.term.signature'}
        
    <p></p>
    #{system.modalFaq /}
 </div>
 <!-- End col-md-12-->
</div>
<!-- End row-->
