#{extends '_layout/body-guest.html' /}

<div class="row">
    <div class="col-md-12">

        <!-- Headings & Paragraph Copy -->
        <h2>&{'system.title'}</h2>
            #{if b}
                &{'message.body.conclusion.yes', (gender == 'F' ? 'a' : 'o'), userName}
            #{/if}
            #{else}
                &{'message.body.conclusion.no', (gender == 'F' ? 'a' : 'o'), userName, contact}
            #{/else}    
            &{'pages.survey.term.sincerely'}
          <div><img alt="" src="@{'/public/matemart/img/assinatura.jpg'}"></div>
            &{'pages.survey.term.signature'}
          <p></p>
          <i>&{'pages.diagnosis.confidencial.term'}</i>
    </div>
    <!-- End col-md-12-->
</div>
<!-- End row-->