#{extends '_layout/body-guest.html' /}

<div class="row">
    <div class="col-md-12">

        <!-- Headings & Paragraph Copy -->
        <h2>&{'pages.survey.number', surveyNumber}</h2>
        <br />
        <p>
            &{'pages.survey.desc'}
        </p>
        <br />

    </div>
    <!-- End col-md-12-->
</div>
<!-- End row-->
<div class="row">
    
    <div class="col-md-12 add_bottom_30 ">
        #{form action:@showNextQuestion(id, linkCode, survey.id, -1, -1), style:'display: inline;'}
            <button id="linkNextQuestion" class="button_outline button-text-transform" onclick="javascript: blockForQuestion();">&{'pages.survey.start'}</button>
        #{/form}
        
        #{if !hideBack}    
            #{form action:@showPreviousQuestion(id, linkCode, survey.id, -1), style:'display: inline;'}
                <button class="button_outline button-text-transform" style="margin-right: 10em">&{'crud.back'}</button>
            #{/form}    
        #{/if}
    </div>

</div>

#{system.modalFaq /}
