#{extends 'CRUD/layout.html' /}
#{set allowInsert:"${!blockInsert}" /}
#{set allowUpdate:"${!blockUpdate}" /}
#{set allowDelete:"${!blockDelete}" /}

<h2>&{'crud.list.title', type.name}</h2>
<div class="step">
    <div id="flash" style="font-size: 14px">
       #{crud.searchReports 
                allowRespondentFilter: false /}
        #{crud.table fields:['orientationCompleted','orientationRequested','respondent.name','respondent.cellPhone','respondent.email','sentDate','type','startDate','endDate'], 
            addFields:['fromDate', 'toDate', 'userGroupId', 'selectedProgramId'], 
                allowEditLink: false}
            #{crud.custom 'respondent.name'}
                &{object.respondent.name}
            #{/crud.custom}
            #{crud.custom 'respondent.cellPhone'}
                &{object.respondent.cellPhone}
            #{/crud.custom}
            #{crud.custom 'respondent.email'}
                &{object.respondent.email}
            #{/crud.custom}
            #{crud.custom 'sentDate'}
                ${object.sentDate?.format('dd/MM/yyyy HH:mm')}
            #{/crud.custom}
            #{crud.custom 'startDate'}
                ${object.startDate?.format('dd/MM/yyyy HH:mm')}
            #{/crud.custom}
            #{crud.custom 'endDate'}
                ${object.endDate?.format('dd/MM/yyyy HH:mm')}
            #{/crud.custom}
            #{crud.custom 'orientationCompleted'}
                #{if object.orientationCompleted}
                    <span class="glyphicon glyphicon-thumbs-up fill-tooltip-grow" placeholder="&{'message.contact.sucess'}" alt="&{'message.contact.sucess'}" title="&{'message.contact.sucess'}" ></span>
                #{/if}
                #{elseif object.endDate && !(object.orientationCompleted) }
                    <!-- Button trigger modal -->
                    <span id="${object.id}_orientantion_confirm" class="glyphicon glyphicon-thumbs-down fill-tooltip-grow" placeholder="&{'message.contact.false'}" alt="&{'message.contact.false'}" title="&{'message.contact.false'}" data-toggle="modal" data-target="#modal_orientation" data-id="${object.id}"></span>
                #{/elseif}
            #{/crud.custom}
        #{/crud.table}
        #{crud.pagination addFields:['objects','toDate','fromDate','userGroupId','selectedProgramId']/}
    </div>
</div>
<!--Modal-->
<div class="modal fade" id="modal_orientation" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">&{'message.title.confirm.contact'}</h4>
                <input type="hidden" name="id.invitation" id="id_invitation" />
            </div>
            <div class="modal-body">&{'message.confirm.contact'}</div>
            <div class="modal-footer" style="padding-bottom: 0px;">
                <button type="button" class="button_medium_outline btn-modal" data-dismiss="modal" onclick="saveContact($('#id_invitation').val());">&{'yes'}</button>
                <button type="button" class="button_medium_outline btn-modal" data-dismiss="modal">&{'no'}</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<!--Modal-->
<div class="modal fade modal_error" id="modal_orientation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">&{'title.modal.error'}</h4>
                <input type="hidden" name="id.invitation" id="id_invitation" />
            </div>
            <div class="modal-body">&{'message.error.operation.failed'}</div>
            <div class="modal-footer" style="padding-bottom: 0px;">
                <button type="button" class="button_medium_outline btn-modal" data-dismiss="modal">&{'ok'}</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->

#{set 'moreScripts'}
    <script type="text/javascript">
        $(function(){
            $('.table-responsive').width('100%');
            $('.table-responsive').css('margin-bottom',15+'px');
            $('.table-responsive').css('overflow-y','hidden');
            $('.table-responsive').css('overflow-x','scroll');
            $('.table-responsive').css('-ms-overflow-style','-ms-autohiding-scrollbar');
            $('.table-responsive').css('border','1px solid #ddd');
            $('.table-responsive').css('-webkit-overflow-scrollin','touch');
            $('.table-responsive').css('white-space','nowrap');
            $('.table-list-size').css('border-top','0px');
            $("table.dataTable").find("thead>tr>th:nth-last-child(9)").css( 'padding-right','0px');
            $("table.dataTable").find("thead>tr>th:nth-last-child(8)").css( 'padding-right','0px');
            $('.glyphicon-thumbs-down').click(function(){
                id = $(this).data('id');
                $('#id_invitation').val(id);
            });
        });
        
        function saveContact(id){
            if (id !== undefined && id != '' && !isNaN(id)) {
                block();
                var newFunction = #{jsAction @saveContact(':id') /}; 
                var renderUrl = newFunction({id: '' + id + ''})
                $.get(renderUrl, function(data) {
                    alterIcon(data);
                    $.unblockUI();
                }).error(function(data) {
                    /* $('.modal_error').modal().show(); */
                    $.Notification.autoHideNotify(
                            '.table-responsive'
                            ,'error'
                            , 'top center'
                            , '&{"title.error"}'
                            , '&{"message.error.operation.failed"}'
                    );
                    $.unblockUI();
                });
            } 
        }
        
        function alterIcon(){
        	$('#'+id+'_orientantion_confirm').removeClass('glyphicon-thumbs-down');
            $('#'+id+'_orientantion_confirm').removeClass('modal-ajax');
            $('#'+id+'_orientantion_confirm').addClass('glyphicon-thumbs-up');
            $('#'+id+'_orientantion_confirm').tooltipster('content','&{"message.contact.sucess"}');
            $('#'+id+'_orientantion_confirm').removeAttr('data-target');
        }
        $(function() {
            #{if flash.success || success}
                $.Notification.autoHideNotify(
                        '#flash'
                        , 'success'
                        , 'top center'
                        , '&{"title.success"}'
                        , '${success ?: flash.success}'
                );
            #{/if} 
            #{if flash.error || error}
                $.Notification.autoHideNotify(
                        '#flash'
                        ,'error'
                        , 'top center'
                        , '&{"title.error"}'
                        , '${error ?: flash.error}'
                );
            #{/if}
            #{if flash.warning}
                $.Notification.autoHideNotify(
                        '#flash'
                        ,'warning'
                        , 'top center'
                        , '&{"title.warning"}'
                        , '${flash.warning}'
                );
            #{/if}
        });
    </script>
#{/set}
