#{extends 'CRUD/layout.html' /}
#{set allowInsert:"${!blockInsert}" /}
#{set allowUpdate:"${!blockUpdate}" /}
#{set allowDelete:"${!blockDelete}" /}

#{set 'linkUrl'}
@{'public/samples/Exemplo de arquivo de importacao-' + lang + '.csv'}
#{/set}

<h2>&{'crud.import.respondent.title'}</h2>
<div class="step">
    <div id="middle-wizard">
        #{form action:@importFile(), enctype:'multipart/form-data'}
            #{field 'respondentFile'}
                <div class="row">
                    <label>&{'invitation.file.import'}</label>
                    <div class="col-md-8">
                        <div class="form-group ${field.errorClass ? 'has-error' : ''}">
                            <input type="text" id="${field.id}" class="form-control fill-tooltip-grow" readonly="readonly" placeholder="&{field.name}" alt="&{field.name}" title="&{field.name}" />
                            <span class="input-icon" style="background-color: #ececec;">
                                <i class="icon-publish"></i>
                            </span>
                            #{ifError field.name}
                                <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
                            #{/ifError} 
                        </div>
                    </div>
                    <label>&nbsp;</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="button_medium_outline btn-file btn-file-responsive">
                                <font>&{'select.file'}</font>   
                                <input id="object_logo" name="${field.name}" type="file" accept=".txt, .csv"  onchange="javascript: setFileName(this, '${field.id}');"/>
                            </span>
                        </div>
                    </div>
                </div>
                    <span style="display: block;">&{'invitation.file.import.desc1'}</span>
                    <span style="display: block;">&{'invitation.file.import.desc2'}</span>
            #{/field}
            <div style="margin-top: 3em;">
                <button type="submit" class="button_medium btn-file-responsive">&{'crud.send'}</button>
            </div>
            <div class="import-file-info" style="background: #FFF;">
                &{'invitation.file.import.desc3', linkUrl}
            </div>
        #{/form}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_info" tabindex="-1" role="dialog" aria-labelledby="modal_infoLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">&{'invitation.file.import.desc4'}</h4>
            </div>
            <div class="modal-body" style="margin-bottom: 15px;">
                &{'invitation.file.import.desc5'}
            </div>
            <div class="modal-footer">
                <a href="#" class="button_medium_outline btn-modal" onclick="javascript: $('#modal_info').modal('hide');">OK</a>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->
    
#{if showModalConfirm}
    <!-- Modal -->
    <div class="modal fade" id="modal_confirm" tabindex="-1" role="dialog" aria-labelledby="modal_confirmLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">&{'title.modal.warning'}</h4>
                </div>
                <div class="modal-body" style="margin-bottom: 15px;">
                    <font>&{'import.file.correct.data', lstRespondents?.size()}</font><br/>
                    <font>&{'import.file.incorrect.data', mapErrors?.size()}</font><br/>
                    #{if mapErrors?.size() > 0}
                        <label class="import-file-errors-label">&{'import.file.errors.label'}</label>
                        <div class="import-file-errors">
                            #{list mapErrors, as: 'item'}
                                <font>${item.value}</font><br/>
                            #{/list}
                        </div>
                    #{/if}
                </div>
                <div class="modal-footer">
                    #{if lstRespondents?.size() > 0}
                        <a href="@{commit()}" class="button_medium_outline btn-modal" onclick="javascript: $('#modal_confirm').modal('hide'); block();">&{'import.file.commit'}</a>
                    #{/if}
                    <a href="@{rollback()}" class="button_medium_outline btn-modal" onclick="javascript: $('#modal_confirm').modal('hide'); block();">&{'import.file.rollback'}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal -->
#{/if}

#{set 'moreScripts'}
    <script type="text/javascript">
        $(function() {
            #{if showModalConfirm}
                $('#modal_confirm').modal('show');
            #{/if}
            
        });
        function showModalInfo() {
        	$('#modal_info').modal('show');
        }
    </script>
#{/set}