#{extends 'CRUD/layout.html' /}
#{set allowInsert:"${!blockInsert}" /}
#{set allowUpdate:"${!blockUpdate}" /}
#{set allowDelete:"${!blockDelete}" /}

<h2>&{'crud.blank.title', type.modelName}</h2>
<div class="step">
    <div id="middle-wizard">
        #{form action:@create(),id:'form_linha' , enctype:'multipart/form-data'}
           #{crud.form}
            	#{crud.custom 'tbOnibus'}
                    #{field 'object.tbOnibus'}
                    <div class="form-group ${field.errorClass ? 'has-error' : ''} text-left">
                        <div class="styled-select">
                           <select  name="object.tbOnibus" class="multi-select" multiple="multiple">                    
                                <option value="">&{'select.value.linha'}</option>     
                                #{list items:models.ParadaBO.findAll(), as:'parada'}                                                                                             
                                    <option name="${parada.dsNome}" value="${parada.id}" ${parada.id == field.id ? 'selected="true"'.raw() : ''}>&{parada.dsNome}</option>
                                #{/list}  
                            </select>                
                            #{ifError field.name}
                                <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
                            #{/ifError}
                        </div>
                    </div>
                    #{/field}
                #{/crud.custom}
            #{/crud.form}
            #{system.addCrudButtons /}
        #{/form}
    </div>
</div>
#{set 'moreScripts'}
	<script type="text/javascript">
	$(function(){
		$('#object_dsValor').mask('0,00', {reverse: false});
		$('#object_dsValor').val('')
		$('form').submit(function(){
			$('#object_dsValor').val($('#object_dsValor').val().replace(",","."));
		});
	})
	</script>
#{/set}
