#{extends 'CRUD/layout.html' /}
#{set allowInsert:"${!blockInsert}" /}
#{set allowUpdate:"${!blockUpdate}" /}
#{set allowDelete:"${!blockDelete}" /}

<h2>&{'crud.show.title', type.modelName}</h2>
<div class="step">
    <div id="middle-wizard">
        #{form action:@save(object._key()), enctype:'multipart/form-data'}
            #{crud.form}
            #{/crud.form}
            #{system.addCrudButtons /}
        #{/form}
    </div>
</div>
#{set 'moreScripts'}
	<script type="text/javascript">
	$(function(){
		$('#object_dsValor').mask('00,00');
		$('form').submit(function(){
			$('#object_dsValor').val($('#object_dsValor').val().replace(",","."));
		});
	})
	</script>
#{/set}
