#{extends 'CRUD/layout.html' /}
#{set allowInsert:"${!blockInsert}" /}
#{set allowUpdate:"${!blockUpdate}" /}
#{set allowDelete:"${!blockDelete}" /}

<h2>&{'crud.list.title', type.name}</h2>
<div class="step">
    <div id="middle-wizard">
        #{crud.search /}
        #{crud.table fields:['dsPosicao','dsNumero', 'dsNome']}
            #{crud.custom 'dsPosicao'}
                   ${object.dsPosicao}
            #{/crud.custom }
            #{crud.custom 'dsNumero'}
                ${object.dsNumero}
            #{/crud.custom}
            #{crud.custom 'dsNome'}
                ${object.dsNome}
            #{/crud.custom}
        #{/crud.table}
       
    </div>
</div>