#{extends 'CRUD/layout.html' /}
#{set allowInsert:"${!blockInsert}" /}
#{set allowUpdate:"${!blockUpdate}" /}
#{set allowDelete:"${!blockDelete}" /}

<h2>&{'crud.show.title', type.modelName}</h2>
<div class="step">
    <div id="middle-wizard">
        #{form action:@save(object._key()), enctype:'multipart/form-data'}
        <div id="mapa" class="col-md-12" style ="height:350px; margin: 15px 0px;"></div>
              #{crud.form}
            	#{crud.custom 'dsPosicao'}
                	#{field 'object.dsPosicao'}
					    <div class="form-group ${field.errorClass ? 'has-error' : ''}">
					        <input type="text" id="${field.id}" name="${field.name}" class="form-control fill-tooltip-grow" readonly placeholder="&{field.name}" alt="&{field.name}" title="&{field.name}" value="&{field.value}" />
					        #{ifError field.name}
					            <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
					        #{/ifError} 
					    </div>
					#{/field}
                #{/crud.custom}
            #{/crud.form}
            #{system.addCrudButtons /}
        #{/form}
    </div>
</div>
#{set 'moreScripts'}
 <script type="text/javascript">
 	var posicao = '&{object.dsPosicao}'.split(",");
 	var latLng = {lat: Number(posicao[0]), lng: Number(posicao[1])};
 	var map;
    var markers = [];
    $(function(){
   		$(window).load(function(){
        	map = new google.maps.Map(document.getElementById('mapa'), {
        	  zoom: 15,
        	  center: latLng
        	});
          map.addListener('click', function(event) {
        	deleteMarkers()
            addMarker(event.latLng);
        	$('#object_dsPosicao').val(event.latLng.lat() +' , '+ event.latLng.lng())
          });
          addMarker(latLng);
   		});
	});
    function addMarker(location) {
      var marker = new google.maps.Marker({
        position: location,
        map: map
      });
      markers.push(marker);
    }

    function setMapOnAll(map) {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    }

    function clearMarkers() {
      setMapOnAll(null);
    }

    function showMarkers() {
      setMapOnAll(map);
    }

    function deleteMarkers() {
      clearMarkers();
      markers = [];
    }
    
 </script>
#{/set}
