#{extends '_layout/layout.html' /}

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="#" id="logo"></a>
            </div>
                        
            <div class="pull-right">
                #{set currentLang: models.ProgramBO.LanguageSetting.get(lang)?.tag()/}       
                #{if currentLang}
                <ul class="sf-menu sf-menu-custom">
                    <li class="normal_drop_down">
                        <a class="" href="#">                                
                            <span class="icon-lang icon-lang-${lang}"><font class="language-style language-style-ext">&{currentLang}</font></span>                                
                        </a>
                        <div class="mobnav-subarrow"></div>
                        <ul>       
                        #{list items:models.ProgramBO.LanguageSetting.values(), as:'language'}
                            #{if !lang.equals(language.name())}
                                <li><a href="@{base.BaseController.changeLanguage(language, request.path + '?' + request.querystring)}">
                                    <span class="icon-lang icon-lang-${language.name()}"><font class="language-style">&{language.tag()}</font></span>
                                </a></li>
                            #{/if}
                        #{/list}                            
                        </ul>
                    </li>
                </ul>
                #{/if} 
            </div>
            
        </div>
    </div>
</header>
<!-- End header -->
<nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</nav>

<section id="main_content">
    <div class="container">
        #{doLayout /}
    </div>
    <!-- End container -->
</section>
<!-- End main_content -->

<footer>
    <div id="copy_right">
        &{'footer.copyright'}
    </div>
    <div style="background: #FFF; padding: 1em;">
        <img src="@{'public/images/ssl-image.png'}"/>
    </div>
</footer>