#{extends '_layout/layout.html' /}

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="@{admin.HomeAdminController.index}" id="logo"></a>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">                     
                #{if connectedUser}
                <div class="col-md-8 col-sm-8 col-xs-12">
                #{/if}
                #{else}
                <div class="col-md-12 col-sm-12 col-xs-12">
                #{/else}                
                    <div class="pull-right">
                        #{set currentLang: models.ProgramBO.LanguageSetting.get(lang)?.tag()/}       
                        #{if currentLang}
                        <ul class="sf-menu sf-menu-custom">
                            <li class="normal_drop_down">
                                <a class="" href="#">                                
                                    <span class="icon-lang icon-lang-${lang}"><font class="language-style language-style-ext">&{currentLang}</font></span>                                
                                </a>
                                <div class="mobnav-subarrow"></div>
                                <ul>       
                                #{list items:models.ProgramBO.LanguageSetting.values(), as:'language'}
                                    #{if !lang.equals(language.name())}
                                        <li><a href="@{base.BaseController.changeLanguage(language, request.path + '?' + request.querystring)}">
                                            <span class="icon-lang icon-lang-${language.name()}"><font class="language-style">&{language.tag()}</font></span>
                                        </a></li>
                                    #{/if}
                                #{/list}                            
                                </ul>
                            </li>
                        </ul>
                        #{/if} 
                    </div>
                </div>      
                #{if connectedUser}
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pull-right">
                        <a href="@{security.SecureController.logout}" class="button_medium" id="login_top">&{'secure.logout'}</a>
                    </div>
                </div>      
                #{/if}                  
            </div>
        </div>
    </div>
</header>
<!-- End header -->
<nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                #{if connectedUser}
                    <div id="mobnav-btn">
                    </div>
                    <ul class="sf-menu">
                        #{list items: models.MenuBO.findParentMenusByRoleId(connectedUser.role.id), as:'menu'}
                            #{if !menu.lstChildrenMenus}
                                <li>
                                    <a href="${play.ctxPath}${menu.url}">&{menu.tagName}</a>
                                </li>
                            #{/if}
                            #{else}
                                <li class="normal_drop_down">
                                    <a href="">&{menu.tagName}</a>
                                    <div class="mobnav-subarrow"></div>
                                    <ul>
                                        #{list items: menu.lstChildrenMenus, as:'subMenu'}
                                            <li><a href="${play.ctxPath}${subMenu.url}">&{subMenu.tagName}</a></li>
                                        #{/list}
                                    </ul>
                                </li>
                            #{/else}
                        #{/list}
                    </ul>
                #{/if}
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</nav>

#{if connectedUser}
<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h2> </h2>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</section><!-- End sub-header -->
#{/if}

<section id="${connectedUser ? 'main_content' : 'login_bg' }">
    <div class="container">
        #{doLayout /}
    </div>
    <!-- End container -->
</section>
<!-- End main_content -->

<footer>
    <div id="copy_right">
        &{'footer.copyright'}
        <span style="color: rgba(165, 165, 165, 0.8); text-align: right; float: right;">
            v${play.configuration.get('application.version')}
        </span>
    </div>
</footer>
<div id="toTop">&{'navigation.back.top'}</div>