<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9" lang="en">
<![endif]-->
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- Generall Metatags -->
        <meta name="description" content="&{'system.description'}">
        <meta name="keywords" content="&{'system.keywords'}" />
        <!-- Optional Metatags -->
        <meta name="copyright" content="&{'system.copyright='}" />
        <meta name="author" content="&{'system.author'}"/>
        <meta name="revisit-after" content="7 days" />
        <!-- Canonical URL -->
        <link rel="canonical" href="${play.ctxPath}" />

        <title>&{'system.author'}</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- Favicons-->
        <link rel="shortcut icon" href="@{'/public/matemart/img/favicon.ico'}" type="image/x-icon">
        <link rel="apple-touch-icon" type="image/x-icon" href="@{'/public/matemart/img/apple-touch-icon-57x57-precomposed.png'}">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="@{'/public/matemart/img/apple-touch-icon-72x72-precomposed.png'}">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="@{'/public/matemart/img/apple-touch-icon-114x114-precomposed.png'}">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="@{'/public/matemart/img/apple-touch-icon-144x144-precomposed.png'}">
        <!-- CSS -->
        <link href="@{'/public/matemart/css/bootstrap.min.css'}" rel="stylesheet">
        <link href="@{'/public/matemart/css/superfish.css'}" rel="stylesheet">
        <link href="@{'/public/matemart/css/style.css'}" rel="stylesheet">
        <link href="@{'/public/matemart/fontello/css/fontello.css'}" rel="stylesheet">
        <!-- color scheme css -->
        <link href="@{'/public/matemart/css/color_scheme.css'}" rel="stylesheet">        
        <!-- Brisa css -->
        <link rel="stylesheet" type="text/css" href="@{'/public/velonic/assets/datatables/jquery.dataTables.min.css'}"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/velonic/assets/font-awesome/css/font-awesome.css'}"/>
        
        <link rel="stylesheet" type="text/css" href="@{'/public/velonic/assets/font-awesome/css/font-awesome.css'}"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/velonic/assets/notifications/notification.css'}"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/velonic/assets/ionicon/css/ionicons.min.css'}"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/entypo/entypo-icon.css'}"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/bootstrap-datetimepicker.min.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/footable/footable.core.css'}"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/footable/footable.standalone.css'}"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/featherlight.min.css'}"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/tooltipster.css'}"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/themes/tooltipster-light.css'}"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/themes/tooltipster-noir.css'}"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/themes/tooltipster-punk.css'}"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/themes/tooltipster-shadow.css'}"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/brisa-custom.css'}" >

        #{get 'moreStyles' /}

        <!--[if lt IE 9]>
        <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="@{'/public/javascripts/shared-library.js'}"></script>
        <script type="text/javascript">
            SharedLibrary.setLang("${lang}");
            var datetimepickerTooltipsMap = {
                    'today':        "&{'datetimepicker.tooltip.today'}",
                    'clear':        "&{'datetimepicker.tooltip.clear'}",
                    'close':        "&{'datetimepicker.tooltip.close'}",
                    'selectMonth':  "&{'datetimepicker.tooltip.select.month'}",
                    'prevMonth':    "&{'datetimepicker.tooltip.previous.month'}",
                    'nextMonth':    "&{'datetimepicker.tooltip.next.month'}",
                    'selectYear':   "&{'datetimepicker.tooltip.select.year'}",
                    'prevYear':     "&{'datetimepicker.tooltip.previous.year'}",
                    'nextYear':     "&{'datetimepicker.tooltip.next.year'}",
                    'selectDecade': "&{'datetimepicker.tooltip.select.decade'}",
                    'prevDecade':   "&{'datetimepicker.tooltip.previous.decade'}",
                    'nextDecade':   "&{'datetimepicker.tooltip.next.decade'}",
                    'prevCentury':  "&{'datetimepicker.tooltip.previous.century'}",
                    'nextCentury':  "&{'datetimepicker.tooltip.next.century'}"
            };
        </script>
    </head>
    
    <body>
        <script type="text/javascript">
            // --- Safari HACK
            window.onpageshow = function(event) {
                if (event.persisted) {
                    window.location.reload();
                }
            };
            // --- 
        </script>
        
        #{doLayout /}
        
        <!-- JQUERY -->    
        <script type="text/javascript" src="@{'/public/matemart/js/jquery-1.10.2.min.js'}"></script>
        <!-- OTHER JS --> 
        <script type="text/javascript" src="@{'/public/matemart/js/superfish.js'}"></script>
        <script type="text/javascript" src="@{'/public/matemart/js/bootstrap.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/matemart/js/jquery.placeholder.js'}"></script>
        <script type="text/javascript" src="@{'/public/matemart/js/functions.js'}"></script>
        <script type="text/javascript" src="@{'/public/matemart/js/classie.js'}"></script>
        <script type="text/javascript" src="@{'/public/matemart/js/uisearch.js'}"></script>
        <!-- BRISA scrpts -->
        <script type="text/javascript" src="@{'/public/velonic/assets/notifications/notify.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/velonic/assets/notifications/notify-metro.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/moment-with-locales.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/bootstrap-datetimepicker.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/jquery.blockUI.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/jquery.tooltipster.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/featherlight.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/brisa-custom.js'}"></script>
        <script type="text/javascript">
            function block() {
            	var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
            	if (!isSafari) {
                    $.blockUI({  
                        message: "<h3 style='margin-top: 7px; margin-bottom: 10px; text-transform: none;'>&{'wait'}</h3>",
                        css: {
                            border: 'none',
                            padding: '15px', 
                            backgroundColor: '#000', 
                            '-webkit-border-radius': '10px', 
                            '-moz-border-radius': '10px',
                            'border-radius': '10px',
                            opacity: .7, 
                            color: '#fff'
                        } 
                    }); 
            	}
            }
            function showModalIframe(url) {
                $.featherlight({  
                    closeIcon: null,
                    iframe: url,
                    iframeMaxWidth: '100%', 
                    iframeMaxHeight: '100%', 
                    iframeWidth: '100%',
                    iframeHeight: '100%',
                    loading: '<h4 class="text-center"> &{'wait'}</h4>'
                });
            }
            function blockForQuestion(){
                if(! /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
                    block();
                }
            }
        </script>
        
        #{get 'moreScripts_layout' /}
        #{get 'moreScripts_tags' /}
        #{get 'moreScripts_cruds' /}
        #{get 'moreScripts' /}
        
        <script type="text/javascript">
            $(function() {
                // Activate Tooltipster
                $('.fill-tooltip').tooltipster({
                    theme: 'tooltipster-light', // [light | noir | punk | shadow]
                    animation: 'fall', // [fade | grow | swing | slide | fall]
                    delay: 200,
                    touchDevices: true,
                    trigger: 'hover',
                    arrow: true
                });
                $('.fill-tooltip-grow').tooltipster({
                    theme: 'tooltipster-light', // [light | noir | punk | shadow]
                    animation: 'grow', // [fade | grow | swing | slide | fall]
                    delay: 200,
                    touchDevices: true,
                    trigger: 'hover',
                    arrow: true
                });
                $('.fill-tooltip-left-slow').tooltipster({
                    theme: 'tooltipster-light', // [light | noir | punk | shadow]
                    animation: 'slide', // [fade | grow | swing | slide | fall]
                    delay: 300,
                    touchDevices: true,
                    trigger: 'hover',
                    arrow: true
                });
                
                // Adding event to search buttons
                $('.submit-search-form').click(function() {
                    $('#searchForm').submit();
                    block();
                });
            });
        </script>           
    </body>
</html>