<!DOCTYPE html>
<html lang="pt-br">
	<head>
	  	<meta charset="UTF-8"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="author" content="EdivaldoCarneiro">
	    
	    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
	    <link href="@{'/public/assets/fonts/font-awesome.css'}" rel="stylesheet" type="text/css">
	    <link rel="stylesheet" href="@{'/public/assets/bootstrap/css/bootstrap.css'}" type="text/css">
	    <link rel="stylesheet" href="@{'/public/assets/css/bootstrap-select.min.css'}" type="text/css">
	    <link rel="stylesheet" href="@{'/public/assets/css/jquery.slider.min.css'}" type="text/css">
	    <link rel="stylesheet" href="@{'/public/assets/css/owl.carousel.css'}" type="text/css">
	    <link rel="stylesheet" href="@{'/public/assets/css/style.css'}" type="text/css">
	    <link rel="stylesheet" href="@{'/public/custom/css/custom-satup.css'}" type="text/css">
	      #{get 'moreStyles' /}
	   <title></title>
  </head>
   <body class="page-homepage" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">
       <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEfCk5FZCAIAiT1Nqae7hmydK5ne2KM8c"  async defer type="text/javascript"></script>
        #{doLayout /}
        <script type="text/javascript" src="@{'/public/assets/js/jquery-2.1.0.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/jquery-migrate-1.2.1.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/bootstrap/js/bootstrap.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/smoothscroll.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/owl.carousel.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/bootstrap-select.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/jquery.validate.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/jquery.placeholder.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/icheck.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/jquery.vanillabox-0.1.5.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/retina-1.1.0.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/jshashtable-2.1_src.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/jquery.numberformatter-1.2.3.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/tmpl.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/jquery.dependClass-0.1.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/draggable-0.1.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/jquery.slider.js'}"></script>
		<script type="text/javascript" src="@{'/public/assets/js/custom.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/jquery.mask.min.js'}"></script>
		<!--[if gt IE 8]>
		<script type="text/javascript" src="@{'/public/assets/js/ie.js'}"></script>
		<![endif]-->
		
	<script>
	</script>
        #{get 'moreScripts' /}        
    </body>
</html>