#{extends '_layout/body.html' /}

<div class="row">
    <div class="col-md-12">
        <!-- Headings & Paragraph Copy -->
        <h2>&{'menu.reports.1'}</h2>

        <div id="indexReport" style="font-size: 14px;">
        
            #{crud.searchReports 
                allowDateFilter: false,
                allowRespondentFilter: false,
                disableSearchButton: true /}
<!--         
            <div class="form_center mobile">
                <div class="col-xs-12 col-md-5">
                    <div class="form-group">
                        <select id="userGroupId" class="form-control fill-tooltip-grow" placeholder="&{'client'}"
                                alt="&{'client'}"
                                title="&{'client'}">
                            <option value="">&{'client'}</option>
                        </select>
                        <span class="input-icon">
                             <i class="icon-user"></i>
                        </span>
                        <span style="display: none;" class="help-block">&{'validation.required'}</span>
                    </div>
                </div>

                <div class="col-xs-12 col-md-5">
                    <div class="form-group">
                        <select id="selectedProgramId" class="form-control fill-tooltip-grow" placeholder="&{'menu.program'}"
                                alt="&{'menu.program'}"
                                title="&{'menu.program'}">
                            <option value="">&{'menu.program'}</option>
                        </select>
                        <span style="display: none;" class="help-block">&{'validation.required'}</span>
                    </div>
                </div>

                <div class="col-xs-12 col-md-2">
                    <button id="query-data" class="button_medium" type="button">&{'report.query'}</button>
                </div>
            </div> 
-->

            <div id="parent_graphs_id" class="col-md-12 graphs" style="display: none;">
                <div class="col-sm-5" id="yes_no_id">
                    <h3>&{'report.summary.invite_responses'}</h3>
                    <canvas id="yes_no_percentage" height="200" width="200"></canvas>
                </div>
                <div class="col-md-2">
                    &nbsp;
                </div>
                <div class="col-sm-5" id="weeks_bar_id">
                    <h3>&{'report.summary.week_evolution'}</h3>
                    <canvas id="weeks_bar" height="400" width="400"></canvas>
                </div>
            </div>
        </div>

    </div>
    <!-- End col-md-12-->
</div>

#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/velonic/assets/chartjs/chart.min.js'}"></script>
<script type="text/javascript">
$(document).ready(function() {

*{/* 
    block();

    var clientRoute = #{jsRoute @listClients() /};
    $.getJSON(clientRoute.url(), function(data) {
       $.each(data, function(i, el) {
           $('#userGroupId').append($('<option/>').val(el.id).text(el.name));
       });
       $.unblockUI();
    });

    $('#userGroupId').change(function(e) {
        var value = e.target.value;
        $('#selectedProgramId').html('');
        $('#selectedProgramId').append($('<option/>').val('').text('&{'menu.program'}'));
        if (!value) {
            return;
        }
        loadPrograms(value);
    });
*/}*
    
    $('#query-data').click(function() {
    	$('#yes_no_percentage').remove('')
    	$('#weeks_bar').remove('')
    	$('#yes_no_id').append('<canvas id="yes_no_percentage" height="200" width="200"></canvas>');
    	$('#weeks_bar_id').append('<canvas id="weeks_bar" height="400" width="400"></canvas>');
        loadCharts($('#selectedProgramId').val());
    });
});

*{/* 
function loadPrograms(userGroupId) {
    block();
    var route = #{jsRoute @listClientPrograms(':userGroupId') /};
    $.getJSON(route.url({userGroupId: userGroupId}), function(data) {
        $.each(data, function(i, el) {
            $('#selectedProgramId').append($('<option/>').val(el.id).text(el.title));
        });
        $.unblockUI();
    });
}
*/}*

function loadCharts(programId) {

    var clientsEl = $('#userGroupId');
    var programsEl = $('#selectedProgramId');
    if (!validateElement(clientsEl) | !validateElement(programsEl)) {
       return;
    }

    var optionsPie = {
        responsive: true,
        onAnimationComplete: function () {
            this.showTooltip(this.segments, true);
        },
        tooltipTemplate: "<%= label %>: <%= value %>%"
    };
    
    var yesNoRoute = #{jsRoute @getYesNoChartData(':programId') /};
    $.getJSON(yesNoRoute.url({programId: programId}), function(data) {   
    	if(data == null || data.length <= 0){
    		$('.graphs').hide();
            $.Notification.autoHideNotify(
                    '#indexReport'
                    ,'warning'
                    , 'top center'
                    , '&{"title.warning"}'
                    , '&{"objects.not.found.program"}'
            );
        } else {
        	$('.graphs').show();
            new Chart($('#yes_no_percentage')[0].getContext("2d")).Doughnut([
                {
                    value: data.noPercentage,
                    color: "#C2D56A",
                    label: "&{'report.summary.no'}"
                },
                {
                    value : data.yesPercentage,
                    color : "#8ABC4B",
                    label: "&{'report.summary.yes'}"
                }
            ], optionsPie);
            
            var weekRoute = #{jsRoute @getWeekChartData(':programId') /};
            $.getJSON(weekRoute.url({programId: programId}), function(data) {
                var barData = {
                    labels : [
                                 "&{'report.summary.before_four_weeks_ago'}"
                                ,"&{'report.summary.four_weeks_ago'}"
                                ,"&{'report.summary.three_weeks_ago'}"
                                ,"&{'report.summary.two_weeks_ago'}"
                                ,"&{'report.summary.last_week'}"
                                ,"&{'report.summary.this_week'}"
                             ],
                            datasets : [{
                                fillColor : "#8ABC4B",
                                data : [
                                              data.qtdBeforeLastFourWeeks
                                            , data.qtdLastFourWeeks
                                            , data.qtdLastThreeWeeks
                                            , data.qtdTwoWeeks
                                            , data.qtdLastWeek
                                            , data.qtdThisWeek
                                       ]
                            }]
                };
                new Chart($('#weeks_bar')[0].getContext("2d")).Bar(barData, {
                    responsive: true,
                    type: "3d"
                });
            });
        }
    });
}

function validateElement($element) {
    if (!$element.val()) {
        $element.parent().addClass('has-error');
        $element.parent().find('.help-block').show();
    } else {
        $element.parent().removeClass('has-error');
        $element.parent().find('.help-block').hide();
    }
    return $element.val();
}
</script>
#{/set}